@use '../../utils/variables.scss' as *;

.Hero {
    padding: 2rem;

    * {
        margin: 0;
        padding: 0;
    }

    .content {
        padding-top: 150px;
        margin-top: calc(5vw + 5vh);

        .availability {
            text-transform: uppercase;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            font-size: 1.3rem;
            font-weight: 100;
            margin-bottom: 1rem;

            .indicator {
                width: 1rem;
                aspect-ratio: 1;
                background: #0f0;
                display: inline-block;
                border-radius: 50%;
                margin-right: 0.5rem;
            }
        }

        h1 {
            font-weight: 300;
            font-size: 4rem;
            width: 70%;

            strong {
                font-weight: 500;
            }
        }

        .lead {
            font-size: 1.3rem;
            width: 85%;
            margin-top: 0.5rem;
            font-weight: 400;
            
            strong {
                font-weight: 600;
            }
        }

        @media (max-width: 1008px) {
            h1 {
                width: 90%;
            }

            .lead {
                width: 100%;
            }
        }

        .cta {
            margin-top: 1rem;
        }

        @media (max-width: 777px) {
            .availability {
                font-size: 1.1rem;
            }

            h1 {
                width: 100%;
                font-size: 3rem;
            }

            .lead {
                font-size: 1.1rem;
            }

            .cta {
                font-size: 1rem !important;
                line-height: 1rem !important;
            }
        }

        @media (max-width: 310px) {
            .availability {
                font-size: 0.9rem;
            }
            h1 {
                font-size: 1.5rem;
            }

            .lead {
                font-size: 0.9rem;
            }
        }

        .marquee {
            transform: rotate(-7deg);
            transform-origin: bottom left;
            position: absolute;
            left: 0;
            bottom: -2rem;
        }
    }
}