@use '../../utils/variables.scss' as *;

.Hero {
    padding: 2rem;

    * {
        margin: 0;
        padding: 0;
    }

    .content {
        padding-top: 150px;
        margin-top: calc(5vw + 5vh);

        .availability {
            text-transform: uppercase;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            font-size: clamp(0.9rem, 0.8018rem + 0.4364vw, 1.5rem); // 0.9rem@360px 1.5rem@2560px
            font-weight: 100;
            margin-bottom: 1rem;
            z-index: 1;

            .indicator {
                width: 1rem;
                aspect-ratio: 1;
                background: #0f0;
                display: inline-block;
                border-radius: 50%;
                margin-right: 0.5rem;
            }
        }

        h1 {
            font-weight: 300;
            font-size: clamp(1.5rem, 0.7636rem + 3.2727vw, 6rem); // 1.5rem@360px 6rem@2560px
            width: 70%;
            z-index: 1;

            strong {
                font-weight: 500;
            }
        }

        .lead {
            font-size: clamp(0.9rem, 0.8018rem + 0.4364vw, 1.5rem);
            width: 85%;
            margin-top: 0.5rem;
            font-weight: 400;
            z-index: 1;
            text-shadow: 0 0 10px black;
            
            strong {
                font-weight: 600;
            }
        }

        @media (max-width: 1008px) {
            .lead {
                width: 100%;
            }
        }

        .cta {
            margin-top: 1rem;
        }

        @media (max-width: 777px) {
            .cta {
                font-size: 1rem !important;
                line-height: 1rem !important;
            }
        }

        .marquee {
            transform: rotate(-7deg);
            transform-origin: bottom left;
            position: absolute;
            left: 0;
            bottom: -2rem;
            z-index: -1;
        }
    }
}