@use './../../utils/variables.scss' as *;

.Footer {
    width: 100%;
    background-color: $electricBlue;
    padding: 2rem;
    box-sizing: border-box;

    nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1rem;

        .link {
            width: 200px;
            text-align: center;
        }
    }
}