@use '../../utils/variables.scss' as *;

.cypherLink {
    color: #fff;
    text-decoration: none;
    font-family: $googleCode;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    font-weight: 300;

    .terminalSymbol {
        color: #888;
    }
}

.labelBtn {
    background: #4445;
    backdrop-filter: blur(5px);
    font-size: 1.3rem;
    line-height: 1.3rem;
    display: flex;
    flex-wrap: no-wrap;
    padding-right: 1rem;
    width: fit-content;
    border-radius: 2rem;
    align-items: center;

    .btn {
        padding: 1rem 1.5rem;
        border-radius: 1.5rem;
        background: $cobaltBlue;
        color: white;
        font-weight: 500;
        text-decoration: none;
    }

    .label {
        font-size: 1.1rem;
        font-weight: 100;
        margin-inline: 1.5rem;
    }
}

.flareBtn {
    $padding-block: 1.2rem;
    $padding-inline: 2rem;
    $font-size: 1.2rem;
    $height: calc(2 * $padding-block + $font-size);
    --lightIntensity: 0.75;
    --lightColor: #00f;

    padding: $padding-block $padding-inline;
    font-size: $font-size;
    line-height: $font-size;
    border-radius: calc($height / 2);
    box-shadow: inset 0 0 0 0.2rem $cobaltBlue;
    transition: box-shadow 0.3s ease-out;
    position: relative;
    overflow: visible;
    width: fit-content;
    background: #000d;

    &.prior {
        --lightIntensity: 1;
        box-shadow: inset 0 0 0 calc($height / 2 * 1.1) $cobaltBlue !important;
    }

    --lightOpacity: 1;

    .link {
        color: white;
        text-decoration: none;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            box-shadow: none !important;
            --lightOpacity: var(--lightIntensity);
            --lightColor: #fff;
        }
    }

    @media (hover: none) and (pointer: coarse) {
        box-shadow: none !important;
        --lightOpacity: var(--lightIntensity);
    }

    .flare {
        width: 4rem;
        opacity: calc(var(--lightOpacity) * var(--lightIntensity));
        aspect-ratio: 1;
        border-radius: 50%;
        background: var(--lightColor);
        filter: blur(1.5rem);
        position: absolute;
        offset-path: border-box;
        offset-anchor: center 30%;
        transition: 
            opacity 0.5s ease-out,
            background-color 0.5s ease-in-out,
            width 0.5s ease-out;
        pointer-events: none;
        animation: followBorder 10s linear infinite;
        z-index: -1;
    }

    .glow {
        $thickness: 2px;
        position: absolute;
        border-radius: calc($height / 2 + $thickness);
        z-index: -1;
        inset: calc($thickness * -1);
        animation: lightTravel 10s linear infinite;
        background: linear-gradient(var(--lightAngle), var(--lightColor), #fff0);
        filter: blur(2px);
        opacity: calc(var(--lightOpacity) * var(--lightIntensity));
    }
}

@keyframes followBorder {
    from {
        offset-distance: 0;
    } to {
        offset-distance: 100%;
    }
}

@property --lightAngle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 45deg;
}

@keyframes lightTravel {
    from {
        --lightAngle: 90deg;
    } to {
        --lightAngle: calc(90deg + 360deg);
    }
}