@use '../../utils/variables.scss' as *;

@keyframes marquee {
    0% {
        transform: translateX(0);
    } 100% {
        transform: translateX(-100%);
    }
}

.marquee {
    position: relative;
    display: flex;
    overflow-x: hidden;
    background-color: #fff;
    padding-block: 1.5rem;

    .track {
        display: flex;
        flex-shrink: 0;
        gap: 5rem;
        white-space: nowrap;
        animation: marquee 40s linear infinite;
        padding-right: 5rem;
    }
}

.item {
    height: 4rem;
    width: auto;
    display: flex;
    font-size: 2rem;
    align-items: center;
    font-weight: 500;

    .divider {
        height: 100%;
        width: 3px;
        margin-inline: 1rem;
    }

    .img {
        height: 100%;
        width: auto;
    }
}

.collabsMarquee {
    position: relative;

    .text {
        display: grid;
        font-size: 2rem;
        position: absolute;
        top: 0;
        left: 50vw;
        transform: translateY(-50%);
        z-index: 2;
        font-weight: 200;

        & > * {
            grid-area: 1 / 1;
        }

        .white {
            clip-path: inset(0 0 50% 0);
        }

        .black {
            color: black;
        }
    }
}