@mixin gridAlign($horizontally: center, $vertically: center, $text: left) {
    align-self: $vertically;
    justify-self: $horizontally;
    text-align: $text;
}

@mixin flexAlign($horizontally: center, $vertically: center, $text: left) {
    display: flex;
    justify-content: $horizontally;
    align-items: $vertically;
    text-align: $text;
}

@mixin flexColumn($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin maskImage($image, $color, $size: 2rem, $aspectRatio: 1) {
    height: $size;
    aspect-ratio: $aspectRatio;
    mask-size: contain;
    mask-position: center;
    mask-image: $image;
    background-color: $color;
    mask-repeat: no-repeat;
}

@mixin logoMask($color, $size) {
    @include maskImage(url('/logo-blue.svg'), $color, $size, calc(2048 / 1470));
    mask-size: cover;
    margin-top: calc(-0.15 * $size);
}

$electricBlue: #00f;
$cobaltBlue:   #0a21ff;
$mutedGray:    #8e919a;

$raleway:        var(--raleway);
$poppins:        var(--poppins);
$ubuntuMono:     var(--ubuntuMono);
$googleCode:     var(--googleCode);