@use '../../../utils/variables.scss' as *;

.Hero {
    @include flexAlign(center, center, center);

    h1 {
        font-weight: 400;
        width: 70%;
        margin-inline: auto;
        font-size: clamp(1.5rem, 0.6rem + 4vw, 7rem);
    }

    .lead {
        font-size: clamp(1rem, 0.8364rem + 0.7273vw, 2rem);
        width: 80%;
        margin-inline: auto;
    }

    @media (max-width: 580px) {
        h1, .lead {
            width: 90%;
        }
    }
}

.form {
    .question {
        position: relative;

        .bgText {
            height: 95vh;
            width: auto;
        }

        .blueRect {
            background: $electricBlue;
            position: absolute;
            top: 50%;
            left: 50%;
        }

        .modal {
            width: 70%;
            max-width: 500px;
            backdrop-filter: blur(100px);
            min-height: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            background-color: #33335555;
            padding: 2rem;
            box-sizing: border-box;
        }
    }

    .q1 {
        .blueRect {
            width: 50%;
            aspect-ratio: 1.3 / 1;
            top: 35%;
            left: 35%;
        }
    }

    .q2 {
        .blueRect {
            &.br1 {
                width: 30%;
                aspect-ratio: 1 / 1;
                top: 20%;
            }

            &.br2 {
                width: 50%;
                aspect-ratio: 3 / 2.3;
                top: 30%;
                left: 10%;
            }
        }
    }

    .q3 {
        .blueRect {
            &.br1 {
                width: 20%;
                aspect-ratio: 0.7 / 1.5;
                top: 20%;
                left: 25%;
            }

            &.br2 {
                width: 50%;
                aspect-ratio: 3 / 2;
                top: 40%;
            }
        }
    };

    .q4 {
        .blueRect {
            &.br1 {
                width: 30%;
                aspect-ratio: 1 / 1.5;
                top: 20%;
                left: 10%;
            }

            &.br2 {
                height: 40%;
                aspect-ratio: 1.5 / 1;
                top: 40%;
                left: 30%;
            }
        }
    };
}