@use '../utils/variables.scss' as *;

root { 
    --electricBlue: $electricBlue;
    --cobaltBlue: $cobaltBlue;
    --mutedGray: $mutedGray;
}

@layer reset {
    html, body {
        padding: 0;
        margin: 0;
        background-color: #000;
        font-family: $generalSans, Arial;
        font-size: 16px;
        color: white;
    }
}

@layer layout {
    .Main {
        min-height: 100lvh;
    }
}

@layer main {
    html {
        /* S C R O L L B A R */
        $trackColor: #333;
        $thumbColor: #22f;
        $thumbHoverColor: #55f;

        scrollbar-width: thin;
        scrollbar-color: $thumbColor $trackColor;

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-track {
            background: $trackColor;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: $thumbColor;
            border-radius: 10px;
            border: 2px solid $trackColor;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $thumbHoverColor;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $nohemi;
    }
}