@use '../../../utils/variables' as *;

.Sidebar {
    position: fixed;
    left: 0;
    width: 100%;
    background: #000a;
    backdrop-filter: blur(6px) !important;
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    top: -100%;
    z-index: 999;

    .Links {
        @include flexColumn(1rem);
        width: 100%;
        @include flexAlign();
        padding: 2rem 0;

        .link {
            color: #fff;
            text-decoration: none;
            font-family: $googleCode;
            font-size: 1.2rem;
            letter-spacing: 0.05rem;
            font-weight: 300;

            .terminalSymbol {
                color: #888;
            }
        }
    }
}